@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('icon-pack.css');
:root {
    --primary-color: #5A9A09;
}

html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100%;
}

body {
    width: 100%;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font-family: "Inter", sans-serif;
}

* {
    
}

label, p {
    margin: 0px;
    font-weight: normal;
}
@media(max-width:768px){
    p{
        font-size: 14px;
    }
}

button, input, select, textarea {
    background: 0px 0px;
    border: none;
    outline: 0px;
    border-radius: 0px;
    appearance: none;
    box-shadow: none;
    padding: 0px;
}

textarea {
    vertical-align: middle;
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    list-style: none;
}

dl, ol, ul {
    margin-bottom: 0px;
}

button {
    cursor: pointer;
}

.htmlFixed {
    overflow: hidden;
}

a, a:active, a:focus, a:hover, a:link, a:visited {
    text-decoration: none;
    outline: 0px;
}

.gap30{
    row-gap: 30px;
}

@media(min-width:1400px){
    .container {
        width: 1200px;
    }
}

@media(max-width:768px){
    .gap30{
        row-gap: 15px;
    }
}

.logo_title {
    color: #5A9A09;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-left: 12px;
}

@media(max-width:1200px){
    .logo_title {
        color: #5A9A09;
        font-family: Inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-left: 5px;
    }
}

@media(max-width:768px){
    .logo_title {
        color: #5A9A09;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-left: 5px;
    }
}

.search {
    margin: 0 100px;
    padding-top: 200px;
    padding-bottom: 24px;
    display: flex;
    border-bottom: 1px solid #D9D9D9;
}

.search div {
    width: 100%;
    display: flex;
    align-items: center;
}

.search input {
    width: 100%;
}

.search.body {
    height: 800px;
}

.btn_close {
    display: flex;
    padding: 9px 12px;
    align-items: center;
    gap: 8px;
    height: 37px;
    border: 1px solid #969696;
}

.result {
    margin: 64px 100px !important;
    height: 600px;
    overflow-y: auto;
}

.result1 {
    display: flex;
    align-items: flex-start;
    gap: 58px;
    align-self: stretch;
    margin: 64px 100px !important;
    height: 400px;
}

@media(max-width:768px){
    .search {
        margin: 0 10px;
        padding-top: 90px;
        padding-bottom: 24px;
        display: flex;
        border-bottom: 1px solid #D9D9D9;
    }
    .result {
        margin: 10px 10px !important;
        height: 600px;
        overflow-y: auto;
    }
    .result1 {
        display: flex;
        align-items: flex-start;
        gap: 58px;
        align-self: stretch;
        margin: 20px 10px !important;
        height: 400px;
    }
}

.result1 > .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}

.result1 > .column > .title {
    display: flex;
    padding: 0px 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.result1 > .column > .title p {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.result1 > .column > .body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.result1 > .column > .body > .item {
    display: flex;
    padding: 4px 8px;
    align-items: center;
    gap: 6px;
    align-self: stretch;
}

.result1 > .column > .body > .item p {
    color: #1E1E1E;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 157.143% */
}

.result .item {
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    margin-bottom: 24px;
}

.result .item > img {
    width: 150px;
    height: 100px;
}

.result > .item > .detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
}

.result > .item > .detail > .datetime {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.result > .item > .detail > .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}

.result > .item > .detail > .top > .title {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.result > .item > .detail > .top > .description {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 135.714% */
}

.datetime p {
    color: #525252;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 161.538% */
}
